/*Home Page*/
*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  width: 100vw;
  background-image: url("assets/krishna\ pic\ 4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

}
body::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.30); /* change this value */
  z-index: 1;
}
body *{
  z-index: 2;
}
.welcome-container{
  color: #ffffff;
  text-shadow: 0px 0px 8px #000000;
  min-width: 50%;
  height: auto;
  padding: 1rem;
  margin: 8rem 1rem 3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins:wght@300;400&display=swap');

.welcome-container h1{
  font-size: 4rem;
  font-family: 'Playfair Display', serif;
  color: #f7d774;
  text-shadow: 0 0 12px rgba(255, 230, 150, 0.7);
  font-family: "Cinzel", serif; /* Perfect ancient Sanskrit vibe */
}

.welcome-container h3{
  font-size: 1.5rem;
}
.heading{
  display: flex;
  justify-content: center;
  align-items: center;
}
.explore-btn{
  margin-top: 0.5rem;
  width: 10vw;
  height: 5vh;
  background: #f9d65c;
  outline: none;
  border-radius: 0.5rem;
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  color: #000;
  border: none;
  outline: none;
  box-shadow: 0 0 5px #f9d65c, 0 0 10px #f9d65c;
  transition: 0.3s ease-in-out;

}
.explore-btn:hover{
  box-shadow: 0 0 15px #f9d65c, 0 0 30px #f9d65c;
  transform: scale(1.03);
  transition: 0.3s ease-in-out;
  border: none;
  outline: none;
}
/* Mobile Responsive (max-width: 425px) */
@media (min-width: 300px) and (max-width: 450px) {
  
  body {
    /* Adjusts horizontal position to 35% (shifting focus left) 
       to keep Krishna centered when the screen is narrow.
    */
    background-position: 35% center; 
  }

  .welcome-container {
    width: 90%;      
    min-width: auto; 
    margin: 0;       
    padding: 1rem;
    text-align: center; 
  }

  .welcome-container h1 {
    font-size: 2.5rem; 
    line-height: 1.2;  
  }

  .welcome-container h3 {
    font-size: 1rem;   
    margin-top: 5px;
    
  }

  .explore-btn {
    width: 40vw;       
    height: 2rem;      
    font-size: 1rem;   
    margin-top: 1rem;
  }
}
/* Tablet Responsive (between 426px and 1024px) */
@media (min-width: 426px) and (max-width: 1024px) {
  
  body {
    background-position: 40% center;
  }

  .welcome-container {
    width: 80%;        
    min-width: auto;
    margin: 6rem auto; 
    text-align: center;
  }

  .welcome-container h1 {
    font-size: 3.5rem; 
  }

  .welcome-container h3 {
    font-size: 1.3rem;
  }

  .explore-btn {
    width: 20vw;       
    height: 2.5rem;
    font-size: 1.1rem;
    margin-top: 1rem;
  }
}