/*Home Page*/
*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  width: 100vw;
  background-image: url("assets/krishna\ pic\ 1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

}
body::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.40); /* change this value */
  z-index: 1;
}
body *{
  z-index: 2;
}
.welcome-container{
  color: #ffffff;
  text-shadow: 0px 0px 8px #000000;
  min-width: 70%;
  height: auto;
  margin: 8rem 1rem 3rem 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins:wght@300;400&display=swap');

.welcome-container h1{
  font-size: 3rem;
  font-family: 'Playfair Display', serif;
  color: #f9ebb1; /* soft gold */
  text-shadow: 
      0 0 4px #f9d65c,
      0 0 8px rgba(249, 214, 92, 0.7),
      0 0 12px rgba(249, 214, 92, 0.5);
}
.welcome-container h1 span{
  font-size: 2.5rem;
  font-family: 'Playfair Display', serif;
  color: white;
  text-shadow: none;
}
.welcome-container h3{
  font-size: 1.5rem;
}
.heading{
  display: flex;
  justify-content: center;
  align-items: center;
}
.explore-btn{
  margin-top: 0.5rem;
  width: 10vw;
  height: 5vh;
  background: #f9d65c;
  outline: none;
  border-radius: 0.5rem;
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  color: #000;
  border: none;
  outline: none;
  box-shadow: 0 0 10px #f9d65c, 0 0 20px #f9d65c;
  transition: 0.3s ease-in-out;

}
.explore-btn:hover{
  box-shadow: 0 0 15px #f9d65c, 0 0 30px #f9d65c;
  transform: scale(1.03);
  transition: 0.3s ease-in-out;
  border: none;
  outline: none;
}

/*Main Page*/

